div {
    background-color: orangered;
    padding: 10px;
    margin-bottom: 10px;
}
#kim {
    font-size: large;
    background-color: bisque;
    color: blue;
}
#Dim {
    font-size: large;
    background-color: blueviolet;
    color: wheat;
}